.App {
  text-align: center;
	display: block;
}

.quote {
text-align: center;
border: 8px double black;
margin-left: 25px;
margin-right: 25px; 
}
#author {
text-align: right;
margin-right: 10px;
}
.btn {
margin-top: 10px;
}

#tweet-quote {
align: right;
}

